.card-subtitle,
.card-title {
    margin-top: 0
}

.card {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: .4em
}

.card-subtitle,
.card-text:last-child {
    margin-bottom: 0
}

.card-link {
    text-decoration: none
}

.card-link+.card-link {
    margin-left: 15px
}

.card>.list-group:first-child .list-group-item:first-child {
    border-radius: .4em .4em 0 0
}

.card>.list-group:last-child .list-group-item:last-child {
    border-radius: 0 0 .4em .4em
}

.card-header {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd
}

.card-header:first-child {
    border-radius: .3em .3em 0 0
}

.card-footer {
    padding: 5px;
    background-color: #ddd;
    border-top: 1px solid #ddd
}

.card-footer:last-child {
    border-radius: 0 0 .4em .4em
}

.card-primary {
    background-color: #337ab7;
    border-color: #337ab7
}

.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c
}

.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de
}

.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e
}

.card-danger {
    background-color: #d9534f;
    border-color: #d9534f
}

.card-inverse .card-footer,
.card-inverse .card-header {
    border-bottom: 1px solid rgba(255, 255, 255, .2)
}

.card-inverse .card-blockquote,
.card-inverse .card-footer,
.card-inverse .card-header,
.card-inverse .card-title {
    color: #fff
}

.card-inverse .card-blockquote>footer,
.card-inverse .card-link,
.card-inverse .card-text {
    color: rgba(255, 255, 255, .65)
}

.card-inverse .card-link:focus,
.card-inverse .card-link:hover {
    color: #fff
}

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0
}

.card-img {
    border-radius: .4em
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px
}

.card-img-top {
    border-radius: .4em .4em 0 0
}

.card-img-bottom {
    border-radius: 0 0 .4em .4em
}

.card-deck {
    display: table;
    table-layout: fixed;
    border-spacing: 15px 0
}

.card-deck .card {
    display: table-cell;
    vertical-align: top
}

.card-deck-wrapper {
    margin-right: -15px;
    margin-left: -15px
}

.card-group {
    display: table;
    width: 100%;
    table-layout: fixed
}

.card-group .card {
    display: table-cell;
    vertical-align: top
}

.card-group .card+.card {
    margin-left: 0;
    border-left: 0
}

.card-group .card:first-child .card-img-top {
    border-top-right-radius: 0
}

.card-group .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0
}

.card-group .card:last-child .card-img-top {
    border-top-left-radius: 0
}

.card-group .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0
}

.card-group .card:not(:first-child):not(:last-child),
.card-group .card:not(:first-child):not(:last-child) .card-img-bottom,
.card-group .card:not(:first-child):not(:last-child) .card-img-top {
    border-radius: 0
}

.card-columns {
    column-count: 3;
    column-gap: 15px
}

.card-columns .card {
    display: inline-block;
    width: 100%
}

.card.choose {
    background-color: #fff;
    height: 100%;
    border-radius: .4em
}

.card-wrapper {
    height: 85%;
    position: absolute;
    border-radius: .4em .4em 0 0;
    background-color: #eee
}

.card.choose.selected .card-footer {
    background-color: #f5f5f5
}

.card.choose.selected .card-wrapper {
    background-color: #0084ff;
    color: #fff
}

.card-main {
    height: 100%;
    overflow-y: scroll
}

.card-block {
    color: #202020;
    background-color: #eee;
    padding: 8px 5px;
    word-break: break-word
}

.card.choose.selected .card-block {
    background-color: #0084ff;
    color: #fff
}

.card.choose.selected {
    border: 1px solid #0084ff;
    background-color: #fff
}

.card-header {
    top: 0;
    position: absolute;
    width: 100%;
    height: 15%;
    font-size: .85em
}

.card-header+.card-wrapper {
    height: 70%;
    border-radius: 0;
    position: absolute;
    top: 15%
}

.card-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 15%;
    font-size: .75em
}

.card-deck,
.card-deck-wrapper,
.card-ul {
    height: 100%
}

.card-ul {
    text-align: left;
    width: 600px;
    overflow: hidden
}

.card img {
    display: block;
    width: 100%
}

.card-deck .card {
    width: 120px;
    min-width: 120px
}

.card-title {
    margin-bottom: .2em;
    font-weight: 700;
    font-size: .6em
}

.card-text {
    font-size: .5em
}

.selectOptions.card-ul {
    padding-bottom: 5px
}

.card-nav-buttons-container {
    position: absolute;
    width: 100%;
    top: 50%;
    height: 0;
    margin-top: -16px
}

.card-nav-buttons {
    position: fixed;
    width: 100%;
    max-width: 400px;
    height: 0
}

.card-nav-button-backward {
    float: left;
    margin-left: 2px
}

.card-nav-button-forward {
    float: right;
    margin-right: 2px
}

.card-nav-button button {
    display: inline-block;
    border: 0;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    width: 30px;
    height: 30px;
    box-shadow: 1px 1px 4px grey;
    color: #000;
    background-color: #f1f1f1
}

.card-nav-button button:hover {
    color: #fff;
    background-color: #0084ff
}

.va_basline {
    vertical-align: middle
}

.media-left.va_basline i {
    font-size: 28px
}

.snackBar .media-heading {
    margin-top: 5px
}

.choose {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.query-highlight {
    font-weight: 700
}

.choose.suggestions {
    border-radius: 0;
    border: 1px solid #ddd
}

#send_button_img {
    width: 100%;
    background-color: #dfd7d4
}

.search-suggestions-options {
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0
}

.search-suggestions-options li:first-child {
    border-top-right-radius: 1.3em;
    border-top-left-radius: 1.3em
}

#suggestion-menu-container table {
    margin-bottom: 0
}

img.chat-examples {
    width: 45%;
    height: 45%
}

.psudo-input-group {
    display: block
}

.star-rating {
    text-align: center
}

.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
    display: none
}

.cce {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: 100%
}

.ccep {
    overflow: hidden;
    position: relative;
    height: 100%
}

.highlight {
    background-color: #000;
    color: #f0f8ff
}

.text-strike {
    text-decoration: line-through
}

@-ms-viewport {
    width: auto !important
}

* {
    box-sizing: border-box
}

html {
    font-weight: 400;
    -webkit-font-smoothing: antialiased
}

html,
input {
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden
}

body {
    transition: .3s ease-out
}

body>div {
    height: 100%
}

body>ul {
    position: relative;
    height: 100%
}

#loading_gif {
    position: fixed;
    top: 50%;
    left: 10%
}

ul {
    list-style: none;
    word-wrap: break-word
}

.pages {
    height: 70%;
    margin: 0;
    padding: 0;
    width: 100%
}

.page {
    height: 100%;
    position: absolute;
    width: 100%
}

.login.page {
    background-color: #000;
    display: none
}

.login.page .title,
.login.page .usernameInput {
    color: #fff;
    font-weight: 100
}

.message.typing .messageBody {
    color: gray
}

.centerMapMarker {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    cursor: pointer
}

.centerMapMarker {
    background: url(https://tars-file-upload.s3.amazonaws.com/Byra07/202b7d037951a20507a48dbc2cfa4484--Im4zVwJ.png) no-repeat;
    margin-left: -16px;
    margin-top: -32px;
    height: 32px;
    width: 32px
}

.doc-upload-thumb {
    width: 80px
}

.img-upload-thumb {
    width: 120px
}

.geo-upload-thumb {
    width: 100%
}

.file-upload-caption-span {
    margin-top: 8px
}

.file-upload-caption-p {
    margin-top: 8px
}

.message {
    font-size: 14.4pt;
    padding-left: 0;
    padding-right: 0
}

.message:last-child {
    padding-bottom: 20px
}

h1,
h2 {
    font-size: 14.4pt;
    text-align: center
}

.login.page .title {
    font-size: 14.4pt;
    text-align: center
}

.login.page .usernameInput {
    font-size: 22.4pt;
    letter-spacing: 1.2px
}

.inputMessage {
    border: 1.2px solid #a9a9a9;
    bottom: 0;
    height: 48px;
    outline: 0;
    color: #000;
    -webkit-opacity: 1;
    width: 83%;
    padding: 8px;
    margin-left: 7.2px;
    border-radius: 50px;
    box-shadow: 1px 1px 4px gray;
    padding-left: 20px;
    font-size: 13pt
}

.snackBar_button {
    font-size: 30px
}

.snackBar_button.large {
    font-size: 12.2pt
}

.snackBar_button.small {
    font-size: 12.2pt;
    top: 30;
    bottom: 40px;
}

.snackBar_button.very-small {
    font-size: 11.2pt
}

.media-object {
    width: 36px;
    height: 36px
}

.media-object.large {
    width: 36px;
    height: 36px
}

.media-object.small {
    width: 34px;
    height: 34px
}

.media-object.very-small {
    width: 30px;
    height: 30px
}

.media {
    margin-top: 6px
}

.media-left+.media-body .snackBar_button {
    padding: 0 56px 0 10px
}

.media-left+.media-body .multiple-line {
    text-align: left !important;
    padding-right: 0 !important
}

.sendButton {
    background-color: #dfd7d4;
    border-color: #dfd7d4;
    border-style: solid;
    border-left-width: 0;
    border-top-width: 1.2px;
    border-bottom-width: 1.2px;
    border-right-width: 1.2px;
    bottom: 0;
    height: 48px;
    outline: 0;
    position: absolute;
    right: 0;
    width: 48px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px
}

.inputContainter {
    position: absolute;
    bottom: 0;
    height: 48px;
    left: 0;
    padding-left: 0;
    width: 96%;
    margin-left: 2%;
    background-color: transparent;
    margin-bottom: 20px
}

.snackBar {
    overflow: auto;
    font-size: 14.4pt;
    position: absolute;
    bottom: 0;
    height: 50vh;
    left: 0;
    padding-left: 0;
    width: 100%
    
}

#search-suggestions-container {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-width: 3px;
    border-bottom-width: 0;
    border-color: #000;
    border-style: solid
}

.search-suggestions {
    overflow: auto;
    font-size: 12pt;
    position: absolute;
    left: 50%;
    padding-left: 0;
    width: 75%;
    margin-left: -37.5%;
    max-height: 75%;
    width: 80%;
    margin-left: -40%
}

.selectOptions {
    text-align: center;
    padding: 20px 8px 20px;
    margin: 0 auto
}

#suggestion-menu-container {
    border-top-right-radius: 1.3em;
    border-top-left-radius: 1.3em;
    box-shadow: #888 0 -1.2px 2.4px -.8px;
    margin-bottom: 8px
}

#suggestion-menu-container>.suggestion-info {
    margin-bottom: 0;
    padding: 12px 12px 12px 12px
}

.powered-by {
    box-shadow: #888 0 .2px .04px .04px
}

.chatArea {
    height: 100%;
    padding-bottom: 48px;
    border: 0
}

.log {
    color: gray;
    font-size: 12px;
    text-align: center
}

#faq_link {
    font-size: 18.4pt;
    text-align: center
}

.paragraph {
    font-size: 18.4pt;
    text-align: center
}

#signup_btn {
    height: 48px;
    font-size: 16pt;
    width: 100%;
    text-align: center;
    border-radius: 1.6px
}

.number {
    font-size: 35.2pt
}

#number_inp {
    height: 48px;
    font-size: 16pt;
    width: 100%;
    text-align: center;
    border-radius: 1.6px
}

i.prompt {
    font-size: 10pt
}

span.word3 {
    font-size: 20pt
}

.footer {
    font-size: 12pt
}

.footer a {
    font-size: 12pt
}

.footer img {
    width: 28.8px
}

#status_msg {
    font-size: 12pt
}

.cce .selectOptions {
    padding: 32px 0 32px
}

::-webkit-scrollbar {
    width: 0;
    height: 0
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2)
}

.powered-by {
    margin-left: 0
}

#loading_gif {
    margin-left: -20px;
    margin-top: -20px
}

#loading_gif img {
    width: 40px
}

#loading_gif p {
    font-size: 8pt
}

.login.page .form {
    height: 40px;
    margin-top: -40px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%
}

.login.page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: 0;
    padding-bottom: 6px;
    text-align: center;
    width: 50%
}

.messages {
    height: 70%;
    margin: 0;
    overflow: auto;
    padding: 4px 8px 4px 8px
}

.username {
    float: left;
    font-weight: 700;
    overflow: hidden;
    padding-right: 6px;
    text-align: right
}

.star-rating.rating-xs {
    margin-top: 30px
}

:focus {
    outline: 0
}

.dww {
    margin: 0
}

.dwwl {
    margin: 1px 1px
}

.dwbg.dwi {
    display: block
}

.dwc.dwsc.dwhl {
    display: block;
    margin: 0 0 5px 0
}

.dwwc.dwrc table {
    display: inline-block
}

ul.pages {
    margin: 0;
    padding: 0;
    width: 100%
}

@media (min-width:581px) {
    .dw-i {
        font-size: 26px
    }

    .dwrc,
    .dwwo {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px
    }

    ul.pages {
        position: absolute;
        width: 400px;
        height: 92%;
        max-height: 620px;
        right: -320%;
        margin-top: -310px;
        margin-left: -200px;
        transition: .3s ease-out;
        border-radius: 5px;
        box-shadow: 0 20px 80px rgba(0, 0, 0, .6);
        animation: fadein 1s
    }

    .inputContainter {
        border-radius: 1.3em;
        height: 48px
    }

    .sendButton {
        border-bottom-right-radius: 1.3em
    }

    .snackBar {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px
    }
}

.is-desktop .inputMessage::-webkit-scrollbar,
.is-desktop .messages::-webkit-scrollbar,
.is-desktop .snackBar::-webkit-scrollbar {
    width: 4px;
    height: 4px
}

.is-desktop .inputMessage::-webkit-scrollbar-track,
.is-desktop .messages::-webkit-scrollbar-track,
.is-desktop .snackBar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0)
}

.is-desktop .inputMessage::-webkit-scrollbar-thumb,
.is-desktop .messages::-webkit-scrollbar-thumb,
.is-desktop .snackBar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px
}

.is-desktop .inputMessage:hover::-webkit-scrollbar-thumb,
.is-desktop .messages:hover::-webkit-scrollbar-thumb,
.is-desktop .snackBar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .4)
}

@media (min-width:581px) {

    .messages::-webkit-scrollbar,
    .snackBar::-webkit-scrollbar {
        width: 4px;
        height: 4px
    }

    .messages::-webkit-scrollbar-track,
    .snackBar::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0)
    }

    .messages::-webkit-scrollbar-thumb,
    .snackBar::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0);
        border-radius: 30px
    }

    .messages:hover::-webkit-scrollbar-thumb,
    .snackBar:hover::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .4)
    }

    .messages {
        padding: 4px 4px 4px 8px
    }
}

@media (max-width:580px) {
    body {
        padding: 0;
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px
    }

    .inputMessage {
        height: 48px;
        font-size: 12pt;
        -webkit-appearance: none
    }

    .sendButton {
        height: 48px;
        width: 48px
    }

    .inputContainter {
        height: 48px
    }

    .chatArea {
        padding-bottom: 48px
    }

    .star-rating {
        font-size: 40pt;
        margin-top: 10px
    }

    .list-group-item {
        padding: 5px
    }
}

#wave {
    position: relative;
    text-align: center;
    width: 32px;
    height: 20px;
    margin-left: auto;
    margin-right: auto
}

.dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 3px;
    background-color: #000;
    animation: wave 1.3s linear infinite
}

.dot:nth-child(2) {
    animation-delay: -1.1s
}

.dot:nth-child(3) {
    animation-delay: -.9s
}

@keyframes wave {

    0%,
    100%,
    60% {
        transform: initial
    }

    30% {
        transform: translateY(-10px)
    }
}

.img-zoom-modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 666;
    background: #000
}

.img-zoom-modal img.zoom-img {
    position: relative;
    max-width: 100%;
    top: calc(50%);
    top: -moz-calc(50%);
    top: -webkit-calc(50%);
    left: calc(50%);
    left: -moz-calc(50%);
    left: -webkit-calc(50%);
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%)
}

img[data-action=zoom] {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in
}

img.zoom-img {
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out
}

.img-zoom-modal #close-img-zoom-modal {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20pt;
    cursor: pointer;
    z-index: 100;
    color: #aaa
}

.m-peekingForward-initial {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: tileGallery-peek-bounce-forward;
    animation-name: tileGallery-peek-bounce-forward
}

.m-peekingForward {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: tileGallery-peek-bounce-forward;
    animation-name: tileGallery-peek-bounce-forward
}

@-webkit-keyframes tileGallery-peek-bounce-forward {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    50% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes tileGallery-peek-bounce-forward {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    50% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.m-peekingBackward {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: tileGallery-peek-bounce-backward;
    animation-name: tileGallery-peek-bounce-backward
}

@-webkit-keyframes tileGallery-peek-bounce-backward {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    50% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes tileGallery-peek-bounce-backward {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    50% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.calendar_time .calendar_icon {
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: .15;
    font-size: 120px
}

.calendar_time .mbsc-ios {
    background: #fff;
    margin-top: 8px;
    height: 100%;
    height: calc(100% - 8px)
}

.calendar_time .mbsc-ios.mbsc-fr.mbsc-calendar .mbsc-cal-tabs .mbsc-cal-tab {
    border: none;
    border-radius: 0;
    background: 0 0;
    padding: 0 8px
}

.calendar_time .mbsc-ios.mbsc-fr.mbsc-calendar .mbsc-cal-tabs {
    padding: 5px 0
}

.calendar_time .mbsc-ios.mbsc-fr.mbsc-calendar .mbsc-cal-tabs .mbsc-cal-tab .mbsc-cal-tab-i {
    padding: 5px 2px;
    border-radius: 20px
}

.calendar_time .mbsc-ios.mbsc-fr.mbsc-calendar .mbsc-cal-tabs .mbsc-cal-tab.mbsc-cal-tab-sel .mbsc-cal-tab-i {
    box-shadow: none
}

.calendar_time .mbsc-cal-btnc-ym .mbsc-cal-month,
.calendar_time .mbsc-cal-btnc-ym .mbsc-cal-year {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.25px
}

.calendar_time .mbsc-ios .mbsc-cal-btn-txt {
    font-size: 18px
}

.calendar_time .mbsc-ios .mbsc-cal th {
    font-weight: 700;
    letter-spacing: 1.25px
}

.calendar_time .mbsc-cal .mbsc-cal-days-c {
    padding: 5px 0
}

.calendar_time .mbsc-ios .mbsc-cal .mbsc-cal-day {
    border: none;
    padding: 2px
}

.calendar_time .mbsc-ios .mbsc-cal .mbsc-cal-day-fg {
    width: 2em;
    font-size: 14px
}

.calendar_time .mbsc-ios .mbsc-cal-sc-m-cell {
    border: none
}

.calendar_time .mbsc-ios.mbsc-fr.mbsc-calendar .mbsc-cal-tabs .mbsc-cal-tab .mbsc-cal-tab-i {
    background: #f5f5f5;
    color: #0084ff
}

.calendar_time .mbsc-ios.mbsc-fr.mbsc-calendar .mbsc-cal-tabs .mbsc-cal-tab.mbsc-cal-tab-sel .mbsc-cal-tab-i {
    background: #0084ff;
    color: #fff
}

.calendar_time .mbsc-cal-btnc-ym .mbsc-cal-month,
.calendar_time .mbsc-cal-btnc-ym .mbsc-cal-year {
    color: #777
}

.calendar_time .mbsc-ios .mbsc-cal-btn-txt {
    color: #0084ff
}

.calendar_time .mbsc-ios .mbsc-cal th {
    color: #777
}

.calendar_time .mbsc-ios .mbsc-cal .mbsc-cal-day-sel .mbsc-cal-day-fg,
.calendar_time .mbsc-ios.mbsc-no-touch .mbsc-cal-day.mbsc-cal-day-v:hover .mbsc-cal-day-fg {
    background: #0084ff;
    border: none
}

.calendar_time .mbsc-cal-sc .mbsc-cal-sc-sel .mbsc-cal-sc-cell-i {
    background: #0084ff
}

.calendar_time #calendarTimeInput_dw_pnl_1 .mbsc-cal-pnl-i {
    display: none
}

.time_slot_wrap {
    overflow-y: auto;
    height: 265px
}

.time_slot_wrap::-webkit-scrollbar {
    width: 6px
}

.time_slot {
    font-size: 16px;
    display: inline-block;
    width: 33.33%;
    padding: 14px 0;
    cursor: pointer;
    float: left
}

.time_slot a {
    display: inline-block;
    width: auto;
    height: auto;
    background: #fff;
    color: #000;
    padding: 0 .625016em;
    line-height: 1.625115em;
    border-radius: 13px;
    text-decoration: none
}

.time_slot:hover a,
a.slot_selected {
    background: #007aff;
    color: #fff
}

#calendarTimeInput_dw_pnl_1 .time_slot_wrap .no_slots {
    transform: translate(0, 50%)
}

#calendarTimeInput_dw_pnl_1 .time_slot_wrap .no_slots span {
    font-size: 18px;
    color: #777;
    display: block;
    padding: 14px;
    width: 85%;
    margin: 0 auto
}

#calendarTimeInput_dw_pnl_1 .time_slot_wrap .no_slots button {
    font-size: 14px;
    color: #333;
    display: inline-block;
    text-align: center
}

[password-content=yes] {
    text-security: disc;
    -webkit-text-security: disc;
    -moz-text-security: disc;
    font-family: text-security-disc
}

@font-face {
    font-family: text-security-disc;
    src: url(https://s3.ap-south-1.amazonaws.com/trainings-uploads/text-security-disc.eot?#iefix) format('embedded-opentype'), url(https://s3.ap-south-1.amazonaws.com/trainings-uploads/text-security-disc.woff) format('woff'), url(https://s3.ap-south-1.amazonaws.com/trainings-uploads/text-security-disc.ttf) format('truetype')
}

.pac-container.always_visible {
    display: block !important
}

.pac-container .pac-item {
    cursor: pointer
}

.pac-container .pac-icon {
    position: relative;
    background: 0 0
}

.pac-container .pac-icon:before {
    content: "\f041";
    font-family: FontAwesome;
    left: 4px;
    position: absolute;
    top: 0;
    font-size: 18px;
    top: -6px
}

.hidden-helper a {
    display: none;
    background: orange !important
}

.change_tab {
    background: #fa0b0b;
    color: #fff !important;
    border: none;
    border-radius: 8px;
    padding: 5px 2px;
    border-radius: 20px;
    min-width: 185px;
    line-height: 27px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    font-weight: 700
}

.card-wrapper {
    position: static
}

.card-block {
    height: 0
}

.system-log {
    color: rgba(0, 0, 0, .4);
    font-size: 9.2pt;
    margin: 10px 0 15px 0;
    text-align: center
}

.autogrow_input_wrapper .inputMessage {
    height: 48px;
    resize: none;
    max-height: 48px;
    min-height: 48px;
    position: absolute;
    bottom: 0;
    border-radius: 25px;
    overflow-y: auto !important;
    font-size: 11.2pt;
    line-height: 1.2;
    padding: 14px 20px
}

.autogrow_input_wrapper {
    width: 100%;
    border-radius: 25px;
    box-shadow: 1px 1px 4px grey;
    height: 49px;
    min-height: 49px;
    position: absolute;
    bottom: 0
}

.autogrow_input_wrapper .inputMessage {
    width: 88% !important;
    border: none !important;
    box-shadow: none !important;
    padding-right: 10px !important
}

.disabledInput {
    background-color: #f1f1f1;
    border: 0;
    width: 100% !important
}

body {
    background-color: #f1f1f1;
    background-repeat: no-repeat
}

.power {
    position: absolute;
    z-index: 10;
    top: 0;
    margin-top: 0;
    color: #000;
    left: 50%;
    margin-left: -65px;
    padding: 0
}

.powered-by a {
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
    display: inline-block;
    padding: 1px
}

.backimg {
    background: url(https://pixabay.com/static/uploads/photo/2016/01/06/07/06/bokeh-1123696_960_720.jpg) no-repeat center center fixed;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px)
}

.chatArea {
    background-color: #fff
}

.rating-container .rating-stars {
    color: #0084ff
}

.inputMessage[disabled] {
    background-color: #f1f1f1;
    border: 0
}

.inputMessage {
    margin: 0;
    border-top: 1px solid #d3d3d3;
    width: 100%;
    padding-right: 48px;
    border-left: 0;
    border-bottom: 0;
    border-right: 0
}

#send-button {
    background-color: transparent;
    border: 0;
    padding: 1px 6px 1px 6px
}

#send_button_img {
    display: none;
    background-color: #fff;
    width: 24px
}

#suggestion-menu-container>* {
    background-color: #0084ff;
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em
}

.chat-sidebar {
    height: 100%;
    left: 0;
    top: 0;
    border-bottom: 1px solid rgba(29, 49, 91, .3);
    border-right: 1px solid rgba(29, 49, 91, .3);
    overflow-x: hidden
}

.ui-widget-header {
    background: #09d261;
    border: 1px solid #027b1b
}

.ui-new-message {
    background: #d20942;
    border: 1px solid #027b1b
}

.ui-chatbox {
    font-family: helvetica
}

.ui-chatbox-log {
    background-color: #dfd7d4
}

.ui-state-focus {
    color: #fff
}

.ui-widget-header .ui-icon {
    background-image: url(themes/images/ui-icons_ffffff_256x240.png)
}

.choose.selected {
    color: #fff;
    background-color: #ff9700
}

.chat_window_open {
    background-color: #e9eaeb;
    border-bottom: 1px solid #e9eaeb
}

.sidebar-name span {
    padding-left: 0;
    font-size: smaller
}

.sidebar-name div {
    padding-left: 0;
    font-size: smaller
}

.sidebar-name a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit
}

.sidebar-name:hover {
    background-color: #ececec
}

.sidebar-name-1:hover {
    background-color: #f4f4f5;
    border-bottom: 1px solid #f4f4f5
}

.chat_window_open:hover {
    background-color: #dee0e1;
    border-bottom: 1px solid #dee0e1
}

.popup-box .popup-head .popup-head-left {
    float: left
}

.popup-box .popup-head .popup-head-right {
    float: right;
    opacity: .5
}

.popup-box .popup-head .popup-head-right a {
    text-decoration: none;
    color: inherit
}

.popup-box .popup-messages {
    height: 100%;
    overflow-y: scroll
}

.suggestion-info {
    color: #fff;
    font-size: 10.2pt
}

.message:nth-child(2) {
    margin-top: 20px
}

.powered-by {
    border-bottom-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    height: 20px;
    width: 130px;
    background-color: #8a8a8a;
    color: #fff;
    padding-right: 10px;
    padding-left: 40px
}

.messageBody {
    line-height: 1.2;
    font-size: 11.2pt;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif
}

.messageBody.image-bubble.padding-no-margin {
    padding: 0;
    border: 0;
    width: 100%
}

.padding-no-margin {
    margin: 3.2px;
    padding: 6px 12px
}

.choose {
    color: #fff;
    background-color: #0084ff;
    cursor: pointer;
    border-radius: 5.6px;
    box-shadow: 1px 1px 4px gray;
    border-width: 0
}

.choose[href] {
    background-color: #00468a
}

li.media.list-group-item.choose {
    border-top-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-top-left-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
    padding: 6px 12px
}

.sidebar-name-1 {
    cursor: pointer;
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding-top: 3.2px
}

.chat-timestamp {
    padding-right: 1.6px;
    color: gray;
    margin-top: 9.6px;
    margin-left: 9.6px;
    font-size: 9.6pt
}

.status-icon-img {
    margin-top: 12.8px;
    height: 12px;
    margin-left: 3.2px
}

.status-icon-glyphicon {
    margin-top: 12.8px;
    height: 12px;
    margin-left: 3.2px
}

.sidebar-name {
    padding-left: 1.6px;
    padding-right: 1.6px;
    padding-top: 1.6px;
    font-size: 4.8px;
    direction: ltr;
    border-bottom: 1px solid #d8d8d8
}

span.badge {
    background-color: #09d261;
    margin-left: 1.6px
}

.sidebar-name img {
    width: 12.8px;
    height: 12.8px;
    vertical-align: middle
}

.popup-box {
    display: none;
    position: fixed;
    bottom: 0;
    right: 88px;
    height: 114px;
    background-color: #edeff4;
    width: 120px;
    border: .4px solid rgba(29, 49, 91, .3)
}

.popup-box .popup-head {
    background-color: #6d84b4;
    padding: 2px;
    color: #fff;
    font-weight: 700;
    font-size: 5.6px;
    clear: both
}

.backimg {
    background-size: contain
}

.is-desktop .padding-no-margin {
    padding: 12px 12px
}

@media (min-width:581px) {
    .messages {
        border-top-left-radius: 1.3em;
        border-top-right-radius: 1.3em
    }

    body {
        background-color: #434a54
    }

    .chatArea {
        background-color: #fff;
        border-radius: 5px !important
    }

    .chatArea::before {
        border-radius: 5px !important
    }

    .padding-no-margin {
        margin: 3.2px;
        padding: 12px 12px
    }

    .image-bubble .text-span {
        padding: 12px 12px
    }
}

@media (max-width:580px) {
    .powered-by {
        background-color: #8a8a8a;
        color: #fff
    }

    .padding-no-margin {
        margin: 3.2px;
        padding: 6px 12px
    }

    .image-bubble .text-span {
        padding: 6px 12px
    }
}

@media only screen and (max-width:540px) {
    .chat-sidebar {
        display: none !important
    }

    .chat-popup {
        display: none !important
    }
}

#send_button_icon {
    font-size: 18pt;
    padding-right: 8px;
    color: #777
}

#send_button_icon:before {
    content: "\f1d8"
}

.pass-button #send_button_icon:before {
    content: "\f051"
}

.pass-button #send_button_icon {
    font-size: 22pt
}

.done-button #send_button_icon:before {
    content: "\f058"
}

.done-button #send_button_icon {
    font-size: 22pt
}

.done-button #send_button_icon,
.pass-button #send_button_icon,
.send-enabled #send_button_icon {
    color: #0084ff
}

.di,
.pi {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14pt
}

.pi:before {
    content: "\f051"
}

.di:before {
    content: "\f058"
}

.image-bubble .text-span {
    float: left
}

.image-bubble.text-bubble .image-loader,
.image-bubble.text-bubble img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #dadada
}

.image-loader {
    width: 100%;
    height: 177px;
    background-color: #dadada;
    border-radius: 1.3em;
    border-top-left-radius: 3px;
    position: relative
}

.image-loader-animation {
    position: absolute;
    top: 45%;
    right: 45%;
    margin: auto
}

.pac-container {
    width: 80% !important;
    height: initial;
    top: auto !important;
    left: 50% !important;
    bottom: 56px !important;
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
    transform: translateX(-50%);
    box-shadow: none;
    border: 1px solid #d3d3d3;
    border-bottom: 0
}

.pac-logo:after {
    background-position: 95% !important;
    padding: 15px !important
}

.pac-item {
    background-color: #0084ff;
    color: #fff;
    padding-top: 6.5px;
    padding-bottom: 6.5px
}

.pac-item.placeholder {
    pointer-events: none;
    padding: 0 10px;
    font-style: italic;
    text-align: center
}

.pac-item:hover {
    background-color: #ff9700
}

.pac-item-selected {
    background-color: #ff9700
}

.pac-item-query {
    color: #fff
}
